<div class="tab-separator">
	<div class="halfScreen-left">
		<div ng-include src="'home/admission/fixedAdmissionInfo.html'">
		</div>
	</div>
	<div class="halfScreen-right">
		<div ng-include src="'home/admission/studentPhoto.html'"></div>
	</div>
</div>
<div class="fullscreen-left">
	<div class="tab-separator">
		<tabset justified="true" type="pills"> <tab
			heading="STUDENT">
		<div class="tab-separator">
			<tabset justified="true" type="pills"> <tab
				heading="PERSONAL DETAIL" ng-show="isTabViewable('PERSONALINFO')"  ng-click="getRelatedData('PERSONALINFO')">
			<div ng-include src="'home/admission/personalInfo.html'" ng-if="isTabViewable('PERSONALINFO')"></div>
			</tab> <tab heading="ACADEMIC INFO" ng-show="isTabViewable('ACADEMIC')" ng-click="getRelatedData('ACADEMIC')">
			<div ng-include src="'home/admission/academicDetail.html'"></div>
			</tab> <tab heading="ADDRESS INFO" ng-show="isTabViewable('ADDRESS')" ng-click="getRelatedData('ADDRESS')">
			<div ng-include src="'home/admission/studentAddressDtl.html'">
			</div>
			</tab> <tab heading="COUNSELLING" ng-show="isTabViewable('COUNSELLING') && student.studentBasics.admissionMode == 'C'" ng-click="getRelatedData('COUNSELLING')">
			<div ng-include src="'home/admission/counselling.html'"></div>
			</tab> </tabset>
		</div>
		</tab> <tab heading="ADMINISTRATION">
		<div class="tab-separator">
			<tabset justified="true" type="pills"> <tab
				heading="OFFICE USE" ng-show="isTabViewable('OFFICEUSE')" ng-click="getRelatedData('OFFICEUSE')">
			<div ng-include src="'home/admission/officeUse.html'"></div>
			</tab> 
			</tab> <tab heading="DOCUMENTS" ng-show="isTabViewable('DOCUMENT')" ng-click="getRelatedData('DOCUMENT')">
			<div ng-include src="'home/admission/document.html'"></div>
			</tab>
			</tab> <tab heading="TRANSPORT" ng-show="isTabViewable('TRANSPORT')" ng-click="getRelatedData('TRANSPORT')">
			<div ng-include src="'home/admission/transportReservation.html'" ></div>
			</tab>
			</tab> <tab heading="HOSTEL" ng-show="isTabViewable('HOSTEL')" ng-click="getRelatedData('HOSTEL')">
			<div ng-include src="'home/admission/hostelReservation.html'" ></div>
			</tab>
			 </tabset>
		</div>
		</tab> 
		<tab heading="FINANCIAL">
		<div class="tab-separator">
			<tabset justified="true" type="pills">
			<tab heading="DISCOUNTS" ng-show="isTabViewable('DISCOUNT')" ng-click="getRelatedData('DISCOUNT')">
			<div ng-include src="'home/admission/discount.html'"></div>
			</tab> 
			<tab heading="SCHOLARSHIP" ng-show="isTabViewable('SCHOLARSHIP')" ng-click="getRelatedData('SCHOLARSHIP')">
			<div ng-include src="'home/admission/scholarship.html'"></div>
			</tab> 
			<tab heading="CONSULTANT" ng-show="isTabViewable('CONSULTANT') && student.studentBasics.admissionMode == 'A'" ng-click="getRelatedData('CONSULTANT')">
			<div ng-include src="'home/admission/consultant.html'"></div>
			</tab> 
			<tab heading="REFERRAL" ng-show="isTabViewable('REFERRAL') && student.studentBasics.admissionMode == 'R'" ng-click="getRelatedData('REFERRAL')">
			<div ng-include src="'home/admission/referred.html'"></div>
			</tab>
			<tab heading="APPLICABLE FEE" ng-click="">
			<div ng-include src=""></div>
			</tab> 
				</tabset>
				</tab>
		</tabset>
	</div>
</div>
