<form>
<div class="two-column-view">
						<table>
							<tr ng-repeat="consultant in student.consultantDetail">

								<td><select ng-model="consultant.consultant.consultantId"
									ng-disabled="!form.isEdit && !form.isNew" class="form-control"
									ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.CONSULTANT"></select></td>
								<td><img height="35" width="35" ng-src="images/plus.png"
									ng-click="addConsultantDetail()" /></td>
								<td><img height="35" width="35" ng-src="images/minus.png"
									ng-click="removeConsultantDetail($index)" ng-show="$index>0" /></td>
							</tr>

						</table>
					</div>
</form>