<form id="COUNSELLING" name="COUNSELLING">
		<div class="councelling-view">
			<table>
				<tr>
					<th><span>Counselling</span></th>
					<th><span>Roll No</span></th>
					<th><span>Rank</span></th>
					<th><span>Category Rank</span></th>
					<th><span>Percentile</span></th>
				</tr>

				<tr ng-repeat="counselling in student.counsellingDtl">
					<td><select ng-model="counselling.counsellingBody.counsellingId"
						 class="form-control"
						ng-options="item.counsellingId*1 as item.counsellingBody for item in serverModelData.COUNSELLING"></select></td>
					<td><input type="text" class="form-control"
				
						ng-model="counselling.rollNo"
						></td>
					<td><input type="text" class="form-control"
				
						ng-model="counselling.rank"
						></td>
					<td><input type="text" class="form-control"
				
						ng-model="counselling.categoryRank"
						></td>
					<td><input type="text" class="form-control"
				
						ng-model="counselling.percentile"
						></td>

					<td><img height="35" width="35" ng-src="images/plus.png"
						ng-click="addCounsellingDtl()" /></td>
					<td><img height="35" width="35" ng-src="images/minus.png"
						ng-click="removeCounsellingDtl($index)" ng-show="$index>0" /></td>
				</tr>
				<td></td>
				<td></td>
					<td></td>
					<td><button type="button" class="btn btn-success btn-sm" ng-disabled="!isTabEditable('COUNSELLING')" ng-show="!isTabEnabled('COUNSELLING')"
							ng-click="toggleReadOnly('COUNSELLING')">Edit</button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="toggleReadOnly('COUNSELLING')" ng-show="isTabEnabled('COUNSELLING')">Cancel</button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="updateCounsellingDtl()" ng-show="isTabEnabled('COUNSELLING')">Save</button></td>
			</table>
		</div>
</form>