<form id="FIXEDINFO">
	<div ng-init="init()">
		<table>
			<tr>
				<td><span> Admission Mode </span></td>
				<td><select ng-model="student.admissionMode"
					ng-change="resetAdmissionMode()" class="form-control" required>
						<option value="C">Counselling</option>
						<option value="A">Consultant</option>
						<option value="R">Referral</option>
						<option value="W">Walk-In</option>
				</select></td>
			</tr>
			<tr>
				</td>
				<td><span>Registration No</span></td>
				<td><input type="text" class="form-control"
					aria-label="Amount (to the nearest dollar)"
					ng-model="student.registrationNo" ng-Readonly="true"></td>
			</tr>

			<tr>
				<td><span> Course </span></td>
				<td><select select ng-model="student.course.courseId"
					class="form-control"
					ng-options="item.courseId as item.course  for item in serverModelData.COURSE"
					required></select></td>
			</tr>
			<tr>
				<td><span> Branch </span></td>
				<td><select select ng-model="student.branch.branchId"
					class="form-control"
					ng-options="item.branchId*1 as item.branchName  for item in serverModelData.BRANCH"
					required></select></td>
			</tr>
			<tr>
				<td><span> First Name </span></td>
				<td><input type="text" ng-model="student.firstName"
					class="form-control" required></td>
			<tr>
				<td><span> Last Name </span></td>
				<td><input type="text" ng-model="student.lastName"
					class="form-control" required></td>
			</tr>
		</table>

	</div>
</form>