<form id="HOSTEL">
    <div ng-init="getHostelAvailability()">  
    <div class="inventory-view">
      <table>
      
            <tr>
      <th>Description</th>
      <th>Threshold</th>
      <th>Reserved</th>
      <th>Available</th>
      <th>Price</th>
      </tr>
      
      <tr ng-repeat="object in hostelAvailability"> 
           
           <td>{{object.description}}</td>
                 
           <td>{{object.threshold}}</td>
                 
           <td>{{object.reservedRoom}}</td>
                 
           <td>{{object.available}}</td>
                 
           <td>{{object.price }}</td>     
       </tr>
       <tr>
       <td>
       </td>
       </tr>
       <tr>
       <td>
       <select ng-model="hostelReservation.typeCode"
		ng-options="object.typeCode as object.description for object in hostelAvailability"></select>
       </td>
        <td>
       <input type="button"  class="btn btn-primary btn-sm" value="Reserve" ng-click="reserveRoom()"/>
       </td>
       <td>
       <input type="button"  class="btn btn-success btn-sm" value="Release" ng-click="cancelReservation()"/>
       </td>
      
       </tr>
             
      </table> 
    </div>

<div ng-show="currentHostelReservation.fileNo" class="six-column-view">
<table>
<tr>
<td><strong>Type Code</strong></td>
<td><span>{{currentHostelReservation.typeCode}}</span></td>

<td><strong>Description</strong></td>
<td><span>{{currentHostelReservation.description}}</span></td>

<td><strong>Price</strong></td>
<td><span>{{currentHostelReservation.price}}</span></td>
</tr>
</table>
</div>
</div>
</form>