<div class="tab-separator">
	<form id="PERSONALINFO">
		<div class="four-column-view">
			<table>
				<tr>
					<td><span> Father Name </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.fatherName"></td>
					<td><span> Mother Name </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.motherName"></td>
				</tr>

				<tr>
					<td><span> Gender </span></td>
					<td>
						<li><input type="radio" ng-model="student.studentBasics.gender"
							name="gender" value='M' /><span>Male</span></li>
						<li><input type="radio" ng-model="student.studentBasics.gender"
							name="gender" value='F' /><span>Female</span></li>
					</td>
					<td><span> Date of Birth </span></td>
					<td><input type="date" ng-model="student.studentBasics.dob"></td>
					<!-- <td><p class="input-group">
              <input type="dropdown" class="dropdown-toggle" datepicker-popup="{{format}}" ng-model="student.studentBasics.dob" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p></td> -->
				</tr>
				<tr>
					<td><span> Category </span></td>
					<td><select select ng-model="student.studentBasics.category.categoryId"
						class="form-control"
						ng-options="item.categoryId*1 as item.categoryName  for item in serverModelData.CATEGORY"></select>
					</td>
					<td><span> Blood Group </span></td>
					<td><select select ng-model="student.studentBasics.bloodGroup"
						class="form-control"
						ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.BLOODGROUP"></select>
					</td>
				</tr>
				<tr>
					<td><span> Father Occupation </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.fatherOccupation"></td>
				</tr>
				<tr>
					<td><span> Mobile No </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.selfMobileNo" required></td>
					<td><span> Email Id </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.emailId"></td>
				</tr>
				<tr>
					<td><span> Fixed Line No </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.fixedlineNo"></td>
					<td><span> Parent Mobile No </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.parentMobileNo"></td>
				</tr>
				<tr>
					<td><span> Gaurdian Mobile No </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.gaurdianMobileNo"></td>
					<td><span> Gaurdian Email Id </span></td>
					<td><input type="text" class="form-control"
						ng-model="student.studentBasics.gaurdianEmailId"></td>
				</tr>
				<tr>
				<td></td>
				<td></td>
				<td><button type="button" class="btn btn-primary btn-sm" ng-click="updateStudentBasics()" ng-show="isTabEnabled('PERSONALINFO')">Save</button></td>
				<td><button type="button" class="btn btn-success btn-sm" ng-disabled="!isTabEditable('PERSONALINFO')" ng-show="!isTabEnabled('PERSONALINFO')"
						ng-click="toggleReadOnly('PERSONALINFO')">Edit</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="toggleReadOnly('PERSONALINFO')" ng-show="isTabEnabled('PERSONALINFO')">Cancel</button>
					</td>
					</tr>
			</table>
		</div>
	</form>
</div>
