<from id="REFERRAL">
<div class="two-column-view">
	<table>
		<tr>
			<th><span>Referred By</span></th>
			<td><input type="text" class="form-control"
				aria-label="Amount (to the nearest dollar)"
				ng-model="student.studentBasics.referredBy"></td>
		</tr>
		        <td></td>
				<td></td>
				<td></td>
				<td><button type="button" class="btn btn-success btn-sm" ng-disabled="!isTabEditable('REFERRAL')" ng-show="!isTabEnabled('REFERRAL')"
						ng-click="toggleReadOnly('REFERRAL')">Edit</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="toggleReadOnly('REFERRAL')" ng-show="isTabEnabled('REFERRAL')">Cancel</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="updateStudentBasics()" ng-show="isTabEnabled('REFERRAL')">Save</button></td>
	</table>

</div>
</from>