<form id="ADDRESS" name="ADDRESS">
	<div class="admission-tab-inner" ng-init="init()">
		<div class="four-column-view">
			<table>

				<tr>
					<th><span>Permanent Address</span></th>
					<th></th>
				</tr>
				<tr>
					<td><span>House No.</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').houseNo"></td>
					<td><span>Locality</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').locality"></td>
				</tr>
				<tr>
					<td><span>Land Mark</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').landmark"></td>
					<td><span>District</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').district"></td>
				</tr>
				<tr>
					<td><span>City</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').city"></td>
					<td><span>Pincode</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('P').pincode"></td>
				</tr>
				<tr>
					<td><span>State</span></td>
					<td><select ng-model="getAddress('P').state"
						class="form-control" class="form-control"
						ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE">
					</select></td>
					<th></th>
					<td></td>
				</tr>
				<tr>
					<th><span>Correspondence Address</span></th>
					<td><input type="checkbox" ng-change="copyPermanentAddress()"
						ng-model="form.sameAsAbove">Same as Above</input></td>
				</tr>
				<tr>
					<td><span>House No.</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').houseNo"></td>
					<td><span>Locality</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').locality"></td>
				</tr>
				<tr>
					<td><span>Land Mark</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').landmark"></td>
					<td><span>District</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').district"></td>
				</tr>
				<tr>
					<td><span>City</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').city"></td>
					<td><span>Pincode</span></td>
					<td><input type="text" class="form-control"
						ng-model="getAddress('C').pincode"></td>
				</tr>
				<tr>
					<td><span>State</span></td>
					<td><select ng-model="getAddress('C').state"
						class="form-control"
						ng-options="item.stateId*1 as item.stateName  for item in serverModelData.STATE">
					</select></td>
				</tr>

				<td></td>
				<td></td>
				<td></td>
				<td><button type="button" class="btn btn-success btn-sm" ng-disabled="!isTabEditable('ADDRESS')" ng-show="!isTabEnabled('ADDRESS')"
						ng-click="toggleReadOnly('ADDRESS')">Edit</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="toggleReadOnly('ADDRESS')" ng-show="isTabEnabled('ADDRESS')">Cancel</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="updateStudentAddress()" ng-show="isTabEnabled('ADDRESS')">Save</button></td>
			</table>

		</div>
	</div>
</form>