<form id="TRANSPORT">
   <div ng-init="getAvailableTransport()">  
      <div class="inventory-view">
      <table>

      <tr> 
           <td><span>Description</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.description}}</td>     
       </tr>
<tr> 
           <td><span>Stop</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.stop}}</td>     
       </tr>

        <tr> 
           <td><span>Threshold</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.capacity}}</td>     
       </tr>
       <tr> 
           <td><span>Reserved</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.reserved}}</td>     
       </tr>
       <tr> 
           <td><span>Available</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.available}}</td>     
       </tr>
       <tr> 
           <td><span>Price</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.price}}</td>     
       </tr>
       
        <tr>
       <td>
       </td>
       </tr>
       <tr>
       <td>
       <select ng-model="transportReservation.routeId" class="form-control"
		ng-options="object.routeId as object.stop for object in availableTransport"></select>
       </td>
        <td>
       <input type="button" class="btn btn-primary btn-sm" value="Reserve" ng-click="reserveTransport()"/>
       </td>
        <td>
       <input type="button" class="btn btn-success btn-sm" value="Release" ng-click="cancelReservation()"/>
       </td>
       </tr>
             
      </table> 
   
    </div>

<div ng-show="currentTransportReservation.fileNo" class="six-column-view">
<table>
<tr>
<div class="panel-div-modal">Current Reservation Status</div>
</tr>
<tr>
<td><strong>Route Code</strong></td>
<td><span>{{currentTransportReservation.routeCode}}</span></td>

<td><strong>Description</strong></td>
<td><span>{{currentTransportReservation.description}}</span></td>

<td><strong>Price</strong></td>
<td><span>{{currentTransportReservation.price}}</span></td>
</tr>
</table>
</div>
   </div>
</form>