<form name="enquiryFrom" id="enquiryFrom">
	<div class="fullscreen-left" ng-init="init()">
		<table>
			<tr>
				<td colspan="2"><span class="header">ENQUIRY DETAILS</span></td>
			</tr>
			<tr>
				<td><span> Course </span></td>
				<td><select select
					ng-model="data.admissionEnquiry.course.courseId"
					
					ng-disabled="isTaskClosedOrInAdmission()" class="form-control"
					ng-options="item.courseId as item.course  for item in serverModelData.COURSE"></select></td>
				<td><span> Branch </span></td>
				<td><select select
					ng-model="data.admissionEnquiry.branch.branchId"
					ng-init="data.admissionEnquiry.branch=data.admissionEnquiry.branch||{}"
					ng-disabled="isTaskClosedOrInAdmission()" class="form-control"
					ng-options="item.branchId*1 as item.branchName  for item in serverModelData.BRANCH"></select></td>
			</tr>
			<tr>
				<td><span> Name </span></td>
				<td><input type="text" ng-model="data.admissionEnquiry.name"
					class="form-control" required
					ng-disabled="isTaskClosedOrInAdmission()"></td>
				<td><span> Father Name </span></td>
				<td><input type="text"
					ng-model="data.admissionEnquiry.fatherName" class="form-control"
					ng-disabled="isTaskClosedOrInAdmission()"></td>
			</tr>
			<tr>
				<td><span> Gender </span></td>
				<td>
					<li><input type="radio"
						ng-model="data.admissionEnquiry.gender" name="gender" value='M'
						ng-disabled="isTaskClosedOrInAdmission()" /><span>Male</span></li>
					<li><input type="radio"
						ng-model="data.admissionEnquiry.gender" name="gender" value='F'
						ng-disabled="isTaskClosedOrInAdmission()" /><span>Female</span></li>

				</td>
				<td><span>Date Of Birth </span></td>
				<td>
<!-- 				<input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-required ng-valid-date ng-touched" datepicker-popup="dd-MMMM-yyyy" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" ng-disabled="isTaskClosedOrInAdmission()" ng-required="true" close-text="Close" ng-model="data.admissionEnquiry.dob" required="required"> -->
				 <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
				</td>

			</tr>
			<tr>
				<td><span> Category</span></td>
				<td><select select
					ng-model="data.admissionEnquiry.category.categoryId"
					ng-disabled="isTaskClosedOrInAdmission()" class="form-control"
					ng-options="item.categoryId*1 as item.categoryName  for item in serverModelData.CATEGORY"></select>
				</td>
				<td><span>Admission Mode</span></td>
				<td><select ng-model="data.admissionEnquiry.admissionMode"
					class="form-control" ng-change="resetAdmissionMode()"
					ng-disabled="isTaskClosedOrInAdmission()">
						<option value="A">Consultant</option>
						<option value="R">Referral</option>
						<option value="W">Walk-In</option>
				</select></td>

			</tr>

			<tr>
				<td><span> Email Id </span></td>
				<td><input type="text" ng-model="data.admissionEnquiry.emailId"
					class="form-control" ng-disabled="isTaskClosedOrInAdmission()"></td>
				<td><span> Contact No </span></td>
				<td><input type="text"
					ng-model="data.admissionEnquiry.contactNo" class="form-control"
					ng-disabled="isTaskClosedOrInAdmission()"></td>

			</tr>
			<tr>
				<td><span ng-show="data.admissionEnquiry.admissionMode=='A'">
						Consultant Name </span> <span
					ng-show="data.admissionEnquiry.admissionMode=='R'"> Referred
						By </span>
				</spanng-show></td>
				<td><select
					ng-model="data.admissionEnquiry.consultant.consultantId"
					class="form-control" ng-disabled="isTaskClosedOrInAdmission()"
					ng-show="data.admissionEnquiry.admissionMode=='A'"
					ng-options="item.consultantId*1 as item.name  for item in serverModelData.CONSULTANT"></select>
					<input type="text" class="form-control"
					ng-model="data.admissionEnquiry.referredBy"
					ng-show="data.admissionEnquiry.admissionMode=='R'"
					ng-disabled="isTaskClosedOrInAdmission()"></td>

			</tr>
			<tr>
				<td><span> Remarks </span></td>
				<td><textarea cols="32" rows="4"
						ng-model="data.admissionEnquiry.remarks"
						ng-disabled="isTaskClosedOrInAdmission()"></textarea></td>

				<td><span> Is Lateral </span></td>
				<td><input type="checkbox"
					ng-model="data.admissionEnquiry.lateral"
					ng-disabled="isTaskClosedOrInAdmission()"></td>
			</tr>
			<tr>
			<td>
						<span ng-show="data.admissionEnquiry.registrationNo"
							ng-bind="'Registration No : '+data.admissionEnquiry.registrationNo"></span>
				</td>

			</tr>
			<tr>
				<td><span class="header">TASKS</span></td>
			</tr>

			<tr ng-show="data.tasks.length == 0">
				<td><span>--No Tasks--</span></td>
			</tr>
			<tr ng-repeat="task in data.tasks" ng-show="data.tasks.length>0">
				<td><span> Reminder Date </span></td>
				<td><input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-required ng-valid-date ng-touched" datepicker-popup="dd-MMMM-yyyy" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close"  ng-model="task.taskDate"
					
					ng-disabled="task.status=='C'||isTaskClosedOrInAdmission()" required="required"></td>
				<td ng-show="task.taskId"><span> Follow-up Remark </span></td>
				<td ng-show="task.taskId"><textarea cols="32" rows="3"
						ng-model="task.remark"
						ng-disabled="task.status=='C'||!task.taskId||isTaskClosedOrInAdmission()"></textarea></td>
				<td><button type="button" class="btn btn-primary"
						ng-click="closeTask(task)"
						ng-disabled="task.status=='C'||!task.taskId||isTaskClosedOrInAdmission()">Close
						Task</button></td>
				<td><a ng-show="!task.taskId" class='expandable'
					ng-click="data.tasks.splice($index, 1)"> <i
						class='glyphicon glyphicon glyphicon-remove collapsed-element'></i>
				</a></td>
			</tr>

			<tr>
				<td><button type="button" class="btn btn-primary"
						ng-click="AddTask()" ng-disabled="isTaskClosedOrInAdmission()">Add
						Task</button></td>

			</tr>
			<tr>
				<td colspan=4>

					<button type="button" class="btn btn-primary"
						ng-click="saveEnquiry()" ng-disabled="isTaskClosedOrInAdmission()">Save
						Enquiry</button>
					<button type="button" class="btn btn-success"
						ng-click="proceedToAdmission()"
						ng-disabled="isTaskClosedOrInAdmission()">Proceed to
						Admission</button>
					<button type="button" class="btn btn-danger"
						ng-click="toggleEnquiryStatus()"
						ng-show="data.admissionEnquiry.enquiryId && data.admissionEnquiry.applicationStatus!='CLOSED'"
						ng-disabled="isTaskClosedOrInAdmission()">Close Enquiry</button>
					<button type="button" class="btn btn-success"
						ng-click="toggleEnquiryStatus()"
						ng-show="data.admissionEnquiry.applicationStatus=='CLOSED'">Open
						Enquiry</button>
				</td>
			</tr>
		</table>
	</div>
</form>
</div>
</div>
