
<div ng-controller="admissionController" ng-init="init()">
	<div class="side-mudule-submenu">
		<li><img src="images/new.png" ng-click="resetForm()"></li>
		<li><img src="images/search.png" ng-click="getStudent()"></li>
		<li><img src="images/photo.png"></li>
		<li><img src="images/save.png" ng-click="addStudent()"></li>
	</div>
	<div class="three-column-view">
		<table>

			<tr>
					
				<td colspan=2><span>Admission Mode</span></td>
				<td>
				<li><input type="radio" ng-model="student.admissionMode"
					name="admissionMode" value='W' /><span>Walk-In</span></li>
				<li><input type="radio" ng-model="student.admissionMode"
					name="admissionMode" value='C' /><span>Counselling</span></li>
					</td>
					<td>
				<li><input type="radio" ng-model="student.admissionMode"
					name="admissionMode" value='A' /><span>Consultant</span></li>
				<li><input type="radio" ng-model="student.admissionMode"
					name="admissionMode" value='R' /><span>Referral</span></li>
					</td>
			</tr>

			<tr>
				<td rowspan=3 colspan=2><img src="images/no-image.gif">
				</td>
				<td><span> File No </span></td>
				<td><input type="text" ng-model="student.fileNo"></td>
			</tr>

			<tr>
				<td><span> Enrollment No </span></td>
				<td><input type="text" ng-model="student.enrollNo"></td>

			</tr>


			<tr>
				<td><span> Uni Enrollment No </span></td>
				<td><input type="text" ng-model="student.uniEnrollNo"></td>
			</tr>

			<tr>
				<td><span> Academic Year </span></td>
				<td><input type="text" ng-model="student.academicYear"></td>
				<td><span> Semester </span></td>
				<td><select select ng-model="student.semester"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.SEMESTER"></select>
				</td>
			</tr>

			<tr>
				<td><span> Course </span></td>
				<td><select select ng-model="student.courseId"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.COURSE"></select>
				</td>
				<td><span> Branch </span></td>
				<td><select select ng-model="student.branchId"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.BRANCH"></select>
				</td>
			</tr>

			<tr>
				<td><span> First Name </span></td>
				<td><input type="text" ng-model="student.firstName"></td>
				<td><span> Last Name </span></td>
				<td><input type="text" ng-model="student.lastName"></td>
			</tr>

			<tr>
				<td><span> Date of Birth </span></td>
				<td><input type="date" ng-model="student.dob"></td>
				<td><span> Gender </span></td>
				<td>

					<li><input type="radio" ng-model="student.gender" name="gender"
						value='M' /><span>Male</span></li>
					<li><input type="radio" ng-model="student.gender" name="gender"
						value='F' /><span>Female</span></li>

				</td>
			</tr>

			<tr>
				<td><span> Father Name </span></td>
				<td><input type="text" ng-model="student.fatherName"></td>
				<td><span> Mother Name </span></td>
				<td><input type="text" ng-model="student.motherName"></td>
			</tr>

			<tr>

				<td><span> Category </span></td>
				<td><select select ng-model="student.categoryId"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.CATEGORY"></select>
				</td>
				<td><span> Blood Group </span></td>
				<td><select select ng-model="student.bloodGroup"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.BLOODGROUP"></select>
				</td>
			</tr>

			<tr>
				<td><span> Mobile No </span></td>
				<td><input type="text" ng-model="student.selfMobileNo"></td>
				<td><span> Email Id </span></td>
				<td><input type="text" ng-model="student.emailId"></td>
			</tr>

			<tr>
				<td><span> Fixed Line No </span></td>
				<td><input type="text" ng-model="student.fixedlineNo"></td>
				<td><span> Parent Mobile No </span></td>
				<td><input type="text" ng-model="student.parentMobileNo"></td>
			</tr>

			<tr>
				<td><span> Gaurdian Mobile No </span></td>
				<td><input type="text" ng-model="student.gaurdianMobileNo"></td>
				<td><span> Gaurdian Email Id </span></td>
				<td><input type="text" ng-model="student.gaurdianEmailId"></td>
			</tr>

			<tr>
				<td><span> Father Occupation </span></td>
				<td><input type="text" ng-model="student.fatherOccupation"></td>
				<td><span> Quota Code </span></td>
				<td><select select ng-model="student.quotaCode"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.QUOTACODE"></select>
				</td>
			</tr>

			<tr>
				<td><span> Scholarship </span></td>
				<td><input type="checkbox" ng-model="student.scholarship"></td>
				<td><span> Remarks </span></td>
				<td><input type="text" ng-model="student.remarks"></td>
			</tr>

			<tr>
				<td><span> Hostel Required </span></td>
				<td><input type="checkbox" ng-model="student.hostel"></td>
				<td><span> Transport Required </span></td>
				<td><input type="checkbox" ng-model="student.transportation"></td>
			</tr>


			<tr>
				<td><span> Management Approval </span></td>
				<td><input type="checkbox" ng-model="student.managementApproval">
				</td>
				<td><span> Fee paid </span></td>
				<td><input type="checkbox" ng-model="student.feePaid"></td>
			</tr>

			<tr>
				<td><span> Domicile State </span></td>
				<td><select select ng-model="student.domicileState"
					ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.STATE"></select>
				</td>
			</tr>

		</table>


		<div class="module-sub-section">
			<div id="address" class="panel-div">Student Address Details</div>
			<a href='#address'></a>
			<table class="table borderless">
				<tr>
					<th>Permanent Address</th>
					<th></th>
				<tr>
				<tr>
					<td><span>House No.</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('P').houseNo"></td>
					<td><span>Locality</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('P').locality"></td>
				<tr>
				<tr>
					<td><span>Land Mark</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('P').landmark"></td>
					<td><span>District</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('P').district"></td>
				<tr>
				<tr>
					<td><span>City</span></td>
					<td><input type="Text" ng-model="getStudentAddress('P').city"></td>
					<td><span>Pincode</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('P').pincode"></td>
				<tr>
				<tr>
					<td><span>State</span></td>
					<td><select ng-model="getStudentAddress('P').state">
							<option
								ng-repeat="object in serverModelData.dropdownMasterData.state"
								value="{{object.id}}">{{object.value}}</option>
					</select></td>
					<th></th>
					<td></td>
				<tr>
				<tr>
					<th>Correspondence Address</th>
					<td><input type="checkbox"> Same as Above</input></td>
				<tr>
				<tr>
					<td><span>House No.</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('C').houseNo"></td>
					<td><span>Locality</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('C').locality"></td>
				<tr>
				<tr>
					<td><span>Land Mark</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('C').landmark"></td>
					<td><span>District</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('C').district"></td>
				<tr>
				<tr>
					<td><span>City</span></td>
					<td><input type="Text" ng-model="getStudentAddress('C').city"></td>
					<td><span>Pincode</span></td>
					<td><input type="Text"
						ng-model="getStudentAddress('C').pincode"></td>
				<tr>
				<tr>
					<td><span>State</span></td>
					<td><select ng-model="getStudentAddress('C').state">
							<option
								ng-repeat="object in serverModelData.dropdownMasterData.state"
								value="{{object.id}}">{{object.value}}</option>
					</select></td>
					<th></th>
					<td></td>
				<tr>
			</table>
		</div>

		<div class="module-sub-section">
			<div id="academic" class="panel-div">Student Academic Details</div>
			<a href='#academic'></a>
			<div class="long-inline">
				<table class="table borderless">
					<tr ng-repeat-start="object in student.academicDtl">
						<th><span>Qualification</span></th>
						<th><span>University</span></th>
						<th><span>College</span></th>
						<th><span>Roll No.</span></th>
						<th><span>Passing Year</span></th>
						<th><span>Percentage</span></th>
					</tr>
					<tr>
						<td><select ng-model="object.qualificationId"
							ng-options="item.id as item.value  for item in serverModelData.dropdownMasterData.qualification">
								<!--  <option ng-repeat="object in serverModelData.dropdownMasterData.qualification" value="{{object.id}}">{{object.value}}</option> -->
						</select></td>
						<td><input type="Text" ng-model="object.university"></td>
						<td><input type="Text" ng-model="object.collegeName"></td>
						<td><input type="Text" ng-model="object.rollNo"></td>
						<td><input type="Text" ng-model="object.passingYear"></td>
						<td><input type="Text" ng-model="object.percentage"></td>
						<td><img height="35" width="35" ng-src="images/plus.png"
							ng-click="addQualification($index)" /></td>
						<td><img height="35" width="35" ng-src="images/minus.png"
							ng-click="removeQualification($index)" ng-show="$index>0" /></td>
					</tr>

					<tr ng-repeat-end
						ng-repeat="subject in object.qualificationSubDtl track by $index">
						<td><span>Subject</span></td>
						<td><input type="Text" ng-model="subject.subjectId"></td>
						<td><span>Marks Obtained</span></td>
						<td><input type="Text" ng-model="subject.marksObtained"></td>
						<td><span>Maximum Marks</span></td>
						<td><input type="Text" ng-model="subject.maxMarks"></td>
						<td><img height="35" width="35" ng-src="images/plus.png"
							ng-click="addSubject(object)" /></td>
						<td><img height="35" width="35" ng-src="images/minus.png"
							ng-click="removeSubject(object,$index)" ng-show="$index>0" /></td>
					</tr>
				</table>
			</div>
		</div>
		<input type="submit" value="Submit" ng-click="click()" />
	</div>
</div>
<!--   </body>

</html> -->