<div ng-controller="feeController" ng-init="">
	<div class="latest-admission"></div>

	<div class="module-dashboard-content">
	<div class="panel-div">
				<span ng-if="!feeTransactionAdmissionBean.basicInfo.fileNo">Fee Detail</span> <span
					ng-if="feeTransactionAdmissionBean.basicInfo.fileNo">{{feeTransactionAdmissionBean.basicInfo.firstName}}
					{{feeTransactionAdmissionBean.basicInfo.lastName}} ({{feeTransactionAdmissionBean.basicInfo.fileNo}})</span>
			</div>
		<div>
			<span class="header">Student Info.</span>
			<table>
				<tr>
					<td><span> File No </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.fileNo"></td>
					<td><span> Enrollment No </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.enrollmentNo"></td>
				</tr>
				<tr>
					<td><span> First Name </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.firstName"></td>
					<td><span> Last Name </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.lastName"></td>

				</tr>
				<tr>
					<td><span> Father Name </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.fatherName"></td>
					<td><span> Date Of Birth </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.dob"></td>
				</tr>
				<tr>
					<td><span> Course </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.course"></td>
					<td><span> Branch </span></td>
					<td><input type="text"
						ng-model="feeTransactionAdmissionBean.basicInfo.branch"></td>
				</tr>
				<tr><td><input type="submit"
						ng-click="getFeeTransactionAndBasicInfoDetail()"></td></tr>
			<tr><td colspan=4><hr><td></tr>
			</table>
		</div>
		
		<div class="left-div">
			<span class="header">Debit</span>
			<table>
				<tr
					ng-repeat="object in feeTransactionAdmissionBean.feeTransactionDebit">
					<td><span ng-bind="object.feeDiscountHead.head"></span></td>
					<td><input type="text" ng-model="object.amount"
						readonly="true"></td>
				</tr>
			</table>
		</div>
		<div class="right-div">
			<span class="header">Credit</span>
			<table>
				<tr
					ng-repeat="object in feeTransactionAdmissionBean.feeTransactionCredit">
					<td><span ng-bind="object.feeDiscountHead.head"></span></td>
					<td><input type="text" ng-model="object.amount"
						readonly="true"></td>
				</tr>
			</table>
		</div>
		<div>
			<table>
				<tr>
					<td><select ng-model=newTransaction.feeDiscountHead.headId
						ng-options="item.id as item.value for item in transactionTypes"></select>
					</td>
					<td><input type="number" ng-model="newTransaction.amount" /></td>
				<tr>
					<td><input type="button" value="Deposite"
						ng-click="depositeFee()" /></td>
				<tr>
				</tr>
			</table>
		</div>
	</div>


</div>