<div ng-controller="hostelController" ng-init="getHostelAvailability()">

  <div class="module-container">
      
      <div class="inventory-view">
      <div id="hostel" class="panel-div-modal">Available Hostel Detail</div>
      <table>
      
      <tr> 
           <td><span>Type Code</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.typeCode}}</td>     
       </tr>

        <tr> 
           <td><span>Description</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.description}}</td>     
       </tr>
       
       <tr> 
           <td><span>Threshold</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.threshold}}</td>     
       </tr>
       
       <tr> 
           <td><span>Reserved</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.reservedRoom}}</td>     
       </tr>
       <tr> 
           <td><span>Available</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.available}}</td>     
       </tr>
       <tr> 
           <td><span>Price</span></td>      
           <td ng-repeat="object in hostelAvailability" >{{object.price }}</td>     
       </tr>
       <tr>
       <td>
       </td>
       </tr>
       <tr>
       <td>
       <select ng-model="student.semester"
								ng-options="item.id*1 as item.value  for item in serverModelData.dropdownMasterData.SEMESTER"></select>
       </td>
       </tr>
        <tr>
       <td>
       <input type="button"/>
       </td>
       </tr>
             
      </table> 
   
   
   
   
   
   
    </div>
   </div>















</div>