<div class="dashboard">
  <table class="dashboard-icon">
    <tr>
      <th>
        <a ng-href="#/admissionFrom"><img src="images/admission.png" height="130" width="130"></a>
        <p>ADMISSION MANAGEMENT
      </th>
      <th>
        <a ng-href="#/transportFrom"><img src="images/transport.png" height="130" width="130"></a>
        <p>TRANSPORT MANAGEMENT
      </th>
      <th>
        <a ng-href="#/hostelFrom"><img src="images/hostel.png" height="130" width="130"></a>
        <p>HOSTEL MANAGEMENT
      </th>
    </tr>
  </table>  
 
   

   
 
 
</div>
