<div ng-controller="managementController" ng-init="getUnapprovedRecords()">
	<div class="latest-admission"></div>

	<div class="module-dashboard-content">
	<div class="panel-div">
				<span ng-if="!admissionDetailManagement.basicInfo.fileNo">Management Approval</span> <span
					ng-if="admissionDetailManagement.basicInfo.fileNo">{{admissionDetailManagement.basicInfo.firstName}}
					{{admissionDetailManagement.basicInfo.lastName}} ({{admissionDetailManagement.basicInfo.fileNo}})</span>
			</div>
		<div>
			
			<table>
			<tr><td colspan=2><span class="header">Student Info.</span></td></tr>
				<tr>
					<td>File No<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.fileNo"></td>
					<td>Enrollment No<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.enrollmentNo"></td>
				</tr>
				<tr>
					<td>First Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.firstName"></td>
					<td>Last Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.lastName"></td>

				</tr>
				<tr>
					<td>Father Name<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.fatherName"></td>
					<td>Date Of Birth<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.dob"></td>
				</tr>
				<tr>
					<td>Course<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.course"></td>
					<td>Branch<p><input type="text"
						ng-model="admissionDetailManagement.basicInfo.branch"></td>
				</tr>
				<tr><td><input type="submit"
						ng-click="getFileNoandFetchDetails()"></td></tr>
			<tr><td colspan=4><hr><td></tr>
	
	<tr><td><span class="header">Scholarship Detail</span></td>
	</tr>
	<tr>
	<td>Domicile State<p><select ng-model="admissionDetailManagement.scholarship.stateId" ng-option=""></td>
	<td>Scholarship Amount<p><select ng-model="admissionDetailManagement.scholarship.amount" ng-option=""></td>
	</tr>
	<tr>
	<td>Reoccuring<p><input type="checkbox" ng-model="admissionDetailManagement.scholarship.isReoccurring"></td>
	<td>Remarks<p><textArea ng-model="admissionDetailManagement.scholarship.remark" ng-option=""></td>
	</tr>
				
			</table>
		</div>

	</div>


</div>