<div ng-controller="transportController" ng-init="getAvailableTransport()">

   <div class="module-container">      
      <div class="inventory-view">
      
     <div id="transport" class="panel-div-modal">Available Transports Detail</div>
      <table>
      <tr> 
           <td><span>Route Code</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.routeCode}}</td>     
       </tr>

      <tr> 
           <td><span>Description</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.description}}</td>     
       </tr>


        <tr> 
           <td><span>Threshold</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.threshold}}</td>     
       </tr>
       <tr> 
           <td><span>Reserved</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.reserved}}</td>     
       </tr>
       <tr> 
           <td><span>Available</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.available}}</td>     
       </tr>
       <tr> 
           <td><span>Price</span></td>      
           <td ng-repeat="object in availableTransport" >{{object.price}}</td>     
       </tr>
       
        <tr>
       <td>
       </td>
       </tr>
       <tr>
       <td>
       <select ng-model="transportReservation.routeCode"
		ng-options="object.routeCode as object.description for object in availableTransport"></select>
       </td>
        <td>
       <input type="button" class="button" value="Reserve" ng-click="reserveTransport()"/>
       </td>
        <td>
       <input type="button" class="button" value="Cancel" ng-click="getReservedTransport()"/>
       </td>
       </tr>
             
      </table> 
   
    </div>

<div ng-show="currentReservation">
<table>
<tr>
<td colspan=4>Current Reservation Status</span></td>
</tr>
<tr>
<td><span>Route Code</span></td>
<td><span>{{currentReservation.description}}->{{currentReservation.routeCode}}</span></td>
<td><span>Price</span></td>
<td><span>{{currentReservation.price}}</span></td>

</tr>
</table>
</div>


   </div>



</div>