<form id="newConsultant.html">
	<div>
		<table>
			<tr>
				<td><span> Name </span>
				<td><input type="text" ng-model="consultant.name" required></td>
			</tr>
			<tr>
				<td><span> Primary Phone Number </span></td>
				<td><input type="text" ng-model="consultant.primaryContactNo"
					required></td>
			</tr>
			<tr>
				<td><span> Secondary Phone Number </span></td>
				<td><input type="text" ng-model="consultant.secondaryContactNo"></td>
			</tr>
			<tr>
				<td><span> Email ID </span></td>
				<td><input type="text" ng-model="consultant.emailId"></td>
			</tr>
			<tr>
				<td><span> Consultancy Name </span></td>
				<td><input type="text" ng-model="consultant.consultancyName"></td>
			</tr>
			<tr>
				<td><span> Address </span></td>
				<td><textarea type="text" ng-model="consultant.address"></textarea></td>
			</tr>
		</table>
	</div>
	<div ng-show="addNew">
		<table>
			<tr>
				<td>
					<button type="button" class="btn btn-primary"
						ng-click="addConsultant()">Add Consultant</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger" ng-click="resetForm()">Reset</button>
				</td>
			</tr>
		</table>
	</div>
</form>