<form>
	<div class="searchcriteria" ng-show="showCriteria">
		<table>
			<tr>
				<td><span>Email Id</span></td>
				<td><input type="text" ng-model="searchCriteria.emailId"></td>
			</tr>
			<tr>
				<td><span>Consultant Name</span></td>
				<td><input type="text" ng-model="searchCriteria.name"></td>
			</tr>
			<tr>
				<td><span>Primary Phone No</span></td>
				<td><input type="text"
					ng-model="searchCriteria.primaryContactNo"></td>
			</tr>
			<tr>
				<td><span>Secondary Contact No</span></td>
				<td><input type="text" ng-model="searchCriteria.secondaryNo"></td>
			</tr>
			<tr>

				<td><button type="button" class="btn btn-success"
						ng-click="getConsultantByCriteria()">Get Details</button></td>
			</tr>
		</table>
	</div>
	<div class="searchList" ng-show="searchRes.length>0">
		<span class="header">Double click a record to see Details</span>
		<p>
		<div class="gridStyle" ng-grid="consultantGridOptions" id="gridStyle"></div>
		<pagination total-items="totalItems" items-per-page="itemsPerPage"
			ng-model="currentPage" ng-change="pageChanged()"></pagination>
	</div>
</form>